<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import requests
import pandas as pd
import datetime
from bs4 import BeautifulSoup
from sqlalchemy import create_engine

In [3]:
# Source 0: https://data36.com/scrape-multiple-web-pages-beautiful-soup-tutorial/
# Source 1: https://data36.com/scrape-multiple-web-pages-beautiful-soup-tutorial/
# Source 2: https://medium.com/codex/web-scraping-using-beautifulsoup-pushing-data-to-mysql-database-9de6af06e7b8
# A combination of these three sources made a lot of sense to me

page = 1
titles = []
authors = []
price = []
date = []
while page != 333:
    url = f"https://www.bookdepository.com/category/2985/Natural-History/browse/viewmode/all?page={page}"
    response = requests.get(url)
    html = response.content
    soup = BeautifulSoup(html, "lxml")
    
    # we loop through all h3 elements with the class of title
    for h3 in soup.find_all("h3", class_="title"):
        titles.append(h3.get_text(strip=True))
    
    #for p in soup.find_all("p", class_="author"):
    for p in soup.find_all("p", class_ = "author"):
        authors.append(p.get_text(strip=True))
        
    #for div in soup.find_all("div", class_ = "price-wrap"):
        #price.append(div.get_text(strip=True))
    
    for p in soup.find_all("p", class_ = "published"):
        date.append(p.get_text(strip=True))
        
    
    #for a in soup.find_all("a", class_ = "btn btn-sm btn-primary add-to-basket"):
        #price.append(a.get_text(strip=True)) #get("data-price"))
        
    
    page = page + 1

In [23]:
df = pd.DataFrame(
    {'authors': authors,
     'titles': titles,
     'date': date
    })

# Add a year column to dataframe and get only the year data from date column
df['year'] = df['date'].str.strip().str[-4:]

df.head(5)

,authors,titles,date,year
0,Stephen Hawking,A Brief History Of Time,20 Jan 2015,2015
1,James Bowen,A Street Cat Named Bob,23 Jan 2013,2013
2,Peter Wohlleben,The Hidden Life of Trees,22 Nov 2019,2019
3,Raynor Winn,The Salt Path,31 Jan 2019,2019
4,Catherine D. Hughes,Little Kids First Big Book of Dinosaurs,16 Aug 2018,2018

In [ ]:
# Fill in the NaN values to prevent future errors
for i in range(len(df['authors'])):
    
    author = df['authors'][i]
    #boolean = pd.isna(author) # true or false
    boolean = df['authors'][i] == ''
    
    if boolean == False:
        df['authors'][i] = df['authors'][i]
    else:
        df['authors'][i] = "No Author"
        #print('done')

In [28]:
# Filter data
df_2021 = df[(df['year'] == '2021')]
df_2020 = df[(df['year'] == '2020')]
df_2019 = df[(df['year'] == '2019')]
df_2018 = df[(df['year'] == '2018')]
df_2017 = df[(df['year'] == '2017')]
df_2016 = df[(df['year'] == '2016')]
df_2015 = df[(df['year'] == '2015')]

# Export to CSV & Import it
df.to_csv('/Users/nat/Desktop/Code/Code Projects/Book-Gender/Data/Bookdepository/NaturalHistory-Bookdepository-All.csv')
df_2021.to_csv('/Users/nat/Desktop/Code/Code Projects/Book-Gender/Data/Bookdepository/NaturalHistory-Bookdepository-2021.csv')
df_2020.to_csv('/Users/nat/Desktop/Code/Code Projects/Book-Gender/Data/Bookdepository/NaturalHistory-Bookdepository-2020.csv')
df_2019.to_csv('/Users/nat/Desktop/Code/Code Projects/Book-Gender/Data/Bookdepository/NaturalHistory-Bookdepository-2019.csv')
df_2018.to_csv('/Users/nat/Desktop/Code/Code Projects/Book-Gender/Data/Bookdepository/NaturalHistory-Bookdepository-2018.csv')
df_2017.to_csv('/Users/nat/Desktop/Code/Code Projects/Book-Gender/Data/Bookdepository/NaturalHistory-Bookdepository-2017.csv')
df_2016.to_csv('/Users/nat/Desktop/Code/Code Projects/Book-Gender/Data/Bookdepository/NaturalHistory-Bookdepository-2016.csv')
df_2015.to_csv('/Users/nat/Desktop/Code/Code Projects/Book-Gender/Data/Bookdepository/NaturalHistory-Bookdepository-2015.csv')

In [ ]:
print(len(df_2021)) # 982
print(len(df_2020)) # 889
print(len(df_2019)) # 748
print(len(df_2018)) # 762
print(len(df_2017)) # 696
print(len(df_2016)) # 665
print(len(df_2015)) # 690

In [31]:
# Import CSV
#books_2021 = pd.read_csv(".....csv", dtype=str)